@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.det {
  display: flex;
  margin-bottom: 10px;
  right: 20px;
  position: relative;
  bottom: 30px;
}

.open-box{
  position: relative;
  top: -90px;
  padding: 30px;
  left: 180px;
  margin: 0 auto;
  margin-bottom: -120px;
}

.total-box{
  padding: 40px;
  font-family: "Rubik", sans-serif;
  position: relative;
  left: -195px;
}

.total-box h3{
  font-size: 32px;
  font-weight: 400;
}


.cost-box {
  display: flex;
  flex-direction: column;
  height: 310px;
  margin-bottom: -40px;
  background-color: rgb(50, 88, 144);
  padding: 80px;
  border-radius: 36px;
  position: relative;
  top: 70px;
  right: 185px;
  width: 530px;
}

.cost-box-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 430px;
  margin-bottom: -40px;
  background-color: rgb(50, 88, 144);
  padding: 110px;
  border-radius: 36px;
  position: relative;
  left: 540px;
  top: -355px;
}

.cost-box-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: -40px;
  background-color: rgb(50, 88, 144);
  padding: 90px;
  border-radius: 36px;
  position: relative;
  left: 550px;
  top: -815px;
}

.cost-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
}

.cost-box-m {
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: 0 auto 0 auto;
  right: 185px;
  position: relative;
  width: 530px;
  background-color: rgb(50, 88, 144);
  padding: 85px;
  top: -275px;
  border-radius: 36px;
}

.gap {
  height: 70px;
}

.l-container{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 20px;
  top: 10px;
}

.det-1 {
  display: flex;
  margin-bottom: 10px;
  right: 20px;
  position: relative;
}

.det-col {
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.det-col-1 {
  flex: 1;
  padding: 0 20px;
}

.paper-type-select {
  width: 250px;
}

.cost,
.cost-details {
  margin-top: 40px;
  padding: 32px;
  border-radius: 14px;
  /* box-shadow: 1px 5px 4px rgba(37, 34, 34, 0.5); */
}

.cost {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  top: -60px;
  left: -245px;
  /* background-color: rgb(56, 119, 164); */
  color: #c6e5d9;
  font-family: "Rubik", sans-serif;
  display: flex;
  width: 610px;
  flex-direction: column;
  height: 40vh;
  
}

.cost-details {
  position: absolute;
  top: -42px;
  margin-top: 40px;
  left: 650px;
  background-color: #579278;
  color: #fffcf0;
  font-family: "Rubik", sans-serif;
  width: 350px;
  line-height: 0.9;
  
  padding: 41px;
}

.cost .c-heading {
  font-size: 55px;
  font-weight: 630;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  bottom: 40px;
}

.cost-details h3 {
  font-size: 42px;
  text-align: right;
  font-weight: 700;
  margin-top: 52px;
  margin-bottom: 20px;

  position: relative;
  bottom: 40px;
}

.cost form {
  display: flex;
  flex-direction: column;
  top: -90px;
  position: relative;
  height: 1100px;
}

.cost form .divider-p {
  text-align: center;
  font-weight: 450;
  font-size: 33px;
  position: relative;
  bottom: 20px;
  top: -40px;
}

.divider-p-1{
  font-weight: 450;
  font-size: 33px;
}

.cost label {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.cost select,
.cost input {
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.cost-details p,
.cost-details .sub-p {
  font-size: 16px;
  margin-bottom: 10px;
}

.m-p {
  text-align: right;
  position: relative;
  bottom: 40px;
  /* font-family: "Rubik", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.sub-p {
  text-align: left;
}

.total-cost {
  font-size: 32px;
  text-align: left;
}

.bold-p {
  font-weight: 600;
  font-optical-sizing: auto;
}

.tot {
  font-weight: 400;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-inner {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 14px;
  font-family: "Rubik", sans-serif;
}

.grey-out {
  filter: grayscale(100%);
  pointer-events: none;
}

.popup-inner h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.popup-inner input[type="number"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.popup-inner input[type="number"]::placeholder {
  color: grey;
  font: 16px "Rubik", sans-serif;
}

.popup-inner .submit-btn,
.popup-inner .cancel-btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.popup-inner .submit-btn {
  background-color: rgb(105, 108, 112);
  color: white;
}

.popup-inner .cancel-btn {
  background-color: rgb(215, 64, 64);
  color: rgb(225, 225, 225);
  margin-left: 10px;
}
