@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.wgap {
  width: 10px;
  position: relative;
}

.form {
  display: grid;
  grid-template-columns: 1fr 2.4fr;
  grid-gap: 20px;
  margin: 2vw 4vw;
}

.paper-table{
  font-family: 'Archivo', sans-serif;
}

.job-container input {
  height: 27px;
}

.s-1 {
  font-weight: 400;
}

.job-container {
  display: grid;
  margin: 0 auto;
  width: 100vw;
  margin-left: -15rem;
}

.title-h {
  font-family: "Archivo", sans-serif;
  margin: 0 auto;
}

.bindery-container-last {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.binder-container-last input {
  margin-right: 40px;
}

.size-l {
  margin-left: 15px;
}

.form label {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
}


.upload-a h3{
  font-size: 24px;
  color: black;
}

.upload-a{
  margin: 0 auto;
  position: relative;
  left: 15%;
}

.upload-input{
  border-color: 2px solid black;
  color: black;
}

/* .screenshot-main{
  width: 100vw;
  height: 100vh;
} */

.screenshot-main {
  width: 110vw;
}


.screenshot-main input{
  border: 1.3px solid #b8b8b8;
  padding: 20px;
}

.screenshot-main input:placeholder-shown{
  padding: 4px;
}


.hero h1 {
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 59%;
  top: 18%;
  right: 44%;
  position: relative;
}

.fullwidth {
  grid-column: span 2;
}
.submit-btn {
  width: 500px;
  left: 50%;
  right: 50%;
  margin-bottom: 40px;
  position: relative;
  font-size: 22px;
}

.container-1{
  width: 40vw;
}


.container {
  margin: 2vw 4vw;
  font-family: "Archivo", sans-serif;
}

.container input{
  border: 1px solid #e6e4e4;
}

input,
textarea {
  padding: 5px;
}

.job-f-container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
}

.size-tbl {
  width: 100%;
  border-collapse: collapse;
}

.size-tbl td {
  padding: 5px 10px;
}

.size-tbl th {
  font-size: 22px;
}

.container p {
  font-size: 18px;
  font-weight: 600;
}

.paper-table {
  width: 100%;
  border-collapse: collapse;
}

.paper-table th,
.paper-table td {
  font-size: 17px;
  padding: 9px;
  text-wrap: wrap;
  text-align: center;

  border-bottom: 1px solid #ddd;
}


.paper-table th {
  background-color: #f2f2f2;
}


.paper-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.paper-table tbody tr:hover {
  background-color: #ddd;
}

.paper-table input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.gap {
  height: 20px;
}

.right-container {
  display: flex;
  /* margin: 0.4rem 10rem; */
  flex-direction: column;
  align-items: flex-start;
}

.job-f-container label {
  font-size: 26px;
  font-weight: 400;
  font-family: Archivo, sans-serif;
}

.r-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.r-form-1{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.r-1-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 5rem auto;
}

.r-form label {
  flex: 1;
  margin-right: 15px;
  text-align: right;
}

.r-form-1 label {
  flex: 1;
  margin-right: 15px;
  text-align: right;
}

.r-form input {
  flex: 2;
  margin-left: 15px;
}

.r-form-1 input {
  flex: 2;
  
}

.paper-table-1 {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Archivo', sans-serif;
}

.paper-table-1 th,
.paper-table-1 td {
  font-size: 20px;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.paper-table-1 th {
  background-color: #f2f2f2;
}

.paper-table-1 tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.paper-table-1 tbody tr:hover {
  background-color: #ddd;
}

.paper-table-1 input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.c-container label {
  font-size: 15px;
}

.bindery-container-1 {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap;  */
  margin-right: 50px;
}

.bindery-container {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap;  */
  margin-right: 50px;
}

.bindery-container label {
  font-size: 19px;
  flex: 1;
  margin-right: 10px;
}


.bindery-container-1 label {
  font-size: 14px;
  flex: 1;
  margin-right: 10px;
}

.bindery-container-1 input[type='radio']{
  position: relative;
  top: 10px;
  margin-right: 4px;
}

.v-form {
  display: flex;
  flex-direction: column;
}

.left-side {
  flex: 1;
  width: 940px;
  margin-left: 2rem;
}

.right-side {
  margin-top: 7rem;
  flex: 1;
  width: 900px;
  margin-right: 4rem;
  right: 1%;
  position: relative;
}

/* .bindery-container label {
    flex: 1; 
    margin-right: 10px; 
} */

.job-container h1 {
  text-align: center;
  font-family: "Archivo", sans-serif;
  position: relative;
  font-weight: 400;
  font-size: 92px;
}

.job-container h2 {
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-weight: 550;
}

.job-container h3 {
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-weight: 550;
}

.bindery-container input[type="radio"] {
  margin-right: 5px;
}

.paper-table {
  padding: 20px;
}

.paper-table td input {
  padding: 5px 10px;
  margin: 7px;
}
