@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    outline: 2px solid black; 
}

.main-heading{
    background-color: #f1f0edbb;
    border-radius: 12px;
    padding: 24px;
    font-size: 9em;
    line-height: 1.1em;
    bottom: 35px;
    position: relative;
    font-family: 'DM Sans', sans-serif;
    text-shadow: 3px 3px white, -8px -2px wheat;
}

.main-form h1 {
    text-align: center;
    position: relative;
    top: -1em;
}

.slogan{
    font-size: 3.4em;
    color:  #e74949;
    position: relative;
    bottom: 70px;
    font-family: 'DM Sans', sans-serif;
    border-bottom: 5px solid navy;
}

.main-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.input-form{
    top: -55%;
    position: relative;
}

.main-form label {
    text-align: center;
}

.main-form input {
    text-align: center;
}

.main-form button {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-btn{
    color: white;
}

.red-text{
    color: red;
}

.blue-text{
    color: blue;
}

.dropdown-menu{
    bottom: 90px;
    position: relative;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
    
}

.dropdown-menu h2{
    cursor: pointer;
    position: relative;
    font-size: 1.9em;
    transition: transform 0.5s ease;
   
}

.dropdown-menu h2:hover {
    transform: scale(1.1); 
}




  