.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    outline: 2px solid black;
    max-width: 600px;
    width: 100%;
  }
  
  .form-container {
    display: flex; 
    flex-direction: row; 
    margin-right: 20px; 
    gap: 20px; 
  }
  
 
  .form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  
  .form-container form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-container input,
  .form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-container .order-btn {
    display: block;
    width: 100%;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .form-container .order-btn:hover {
    background-color: #0056b3;
  }

  .order-heading{
    background-color: #f1f0edbb;
    border-radius: 12px;
    padding: 24px;
    font-size: 2.5em;
    line-height: 1.1em;
    bottom: 35px;
    position: relative;
    font-family: 'DM Sans', sans-serif;
    
  }
  
  