.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  padding: 24%;
  border-radius: 12px;
  position: relative;
  background-color: #d9e0e8;
}

.signInContainer h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.signInContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signInContainer label {
  font-size: 19px;
  margin-bottom: 10px;
}

.signInContainer input {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
}

.signInContainer button {
  width: 170px;
  height: 60px;
  font-size: 18px;
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.signInContainer button:hover {
  box-shadow: inset 0 0 0 4px #ef476f, 
              inset 0 0 0 8px #6567e7, 
              inset 0 0 0 12px #ffffff,
              inset 0 0 0 16px #118ab2;
  background: #073b4c;
  color: #fff;
}



 