.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  padding: 24%;
  border-radius: 12px;
  position: relative;
  background-color: #d9e0e8;
}

.signInContainer h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.signInContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signInContainer label {
  font-size: 19px;
  margin-bottom: 10px;
}

.signInContainer input {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
}

.signInContainer button {
  width: 100px;
  height: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.signInContainer button:hover {
  background-color: #0056b3;
}
