.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  padding: 40%;
  text-align: left;
  margin: 0 auto;
  right: 50px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 12px;
  position: relative;
  background-color: #191a1b;
  color: white;
}

.signInContainer h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.signInContainer form {
  
  flex-direction: column;
  align-items: center;
}

.signInContainer label {
  font-size: 19px;
  margin-bottom: 10px;
}

.signInContainer input {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
}

.signInContainer button {
  width: 170px;
  height: 60px;
  font-size: 18px;
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  position: relative;
  left: 20px;
}

.signInContainer button:hover {
  box-shadow: inset 0 0 0 4px #ef476f, 
              inset 0 0 0 8px #6567e7, 
              inset 0 0 0 12px #ffffff,
              inset 0 0 0 16px #118ab2;
  background: #073b4c;
  color: #fff;
}

.spinner {
  width: 70.4px;
  height: 70.4px;
  --clr: rgb(254, 254, 254);
  --clr-alpha: rgb(247, 197, 159,.1);
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}


 