
.var-label {
  display: block;
  margin-bottom: 10px;
}

.var-form h1{
  font-size: 42px;
  width: 340px;
  font-family: "DM Sans", sans-serif;
}

.var-form{
    padding: 16%;
    background-color: #1f20217a;
    border-radius: 10px;
    width: 340px;
    color: white;
    margin: 0 auto;
    align-items: center;
    align-content: center;
}


.var-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.var-button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    align-items: center;
    align-content: center;
    cursor: pointer;
    margin: 0 auto;
}

.var-button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
