@import "rsuite/dist/rsuite.css";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,107,100..900;1,107,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.btn-open{
    height: 40px;
    font-size: 22px;
    padding: 32px;
}

.cost-container{
    font-family: "Archivo", sans-serif;
    font-variation-settings:
    "wdth" 107;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.cost-heading{
    font-family: "Archivo", sans-serif;
    color: #4886dd;
}

.cost-container h1 {
    font-size: 52px;
    width: 400px;
}

.cost-container h3{
    font-size: 31px;
}

.cost-container p{
    font-size: 20px;
}

.cost-t{
    color: #4886dd;
}

@media only screen and (max-width: 480px) {
    .rs-drawer-open.rs-drawer-has-backdrop{
        margin-left: 220px;
        overflow: hidden;
        /* text-align: center; */
        justify-content: center;
    }

    .cost-container h1 {
        font-size: 32px;
        width: 400px;
    }

    .quota-btn{
        margin-right: 140px;
    }

    .cost-container h3{
        font-size: 24px;
    }

    .cost-container p{
        font-size: 16px;
    }
}
/* 
.rs-drawer-open.rs-drawer-has-backdrop{
    margin-left: 220px;
} */

